$text-color = #5b4645
$border-color = #fbf6f3
$placeholder-color = #968d7e
$bg-own-message = #74c7b5
$animation-duration = 0.2s
$background = #fbf6f3
$bacground-message = #968d7e
$text-color-message = #fbf6f3
$text-color-own-message = #5b4645