
#app
  background-color: #E7EFF3
  padding: 2em
  font: 13px Helvetica, Arial

h1
  font-size: 5em
  text-align: center
  text-shadow: 1px 1px 2px #984A59, 0 0 1em #FF8F56, 0 0 0.2em #FF8F56;

#container
  display: flex
  margin-top: 2em

#main
  width: 150em
  border: 2px solid #8EA6B4
  border-left: none
  border-bottom: none
