#form
  background: #984A59
  padding: 3px
  width: 100%
  position: relative
  bottom: 0

form input
  padding: 0
  width: 90%
  height: 2.5em
  margin-right: 0.7em
  font-size: 1.3em

form button
  width: 9%
  background: #FF8F56
  border: 2px solid #E7EFF3
  padding: 10px
  font-size: 1.2em
  font-weight: bold
