@require "app/styles/charte"

.app-messages
  border-top: 1px solid $border-color
  height: calc(100vh - 10rem)
  overflow-y: auto
  background-color: $background

.app-message
  padding: 1.5rem 1rem
  border-radius: 20px
  width: 65%
  margin: auto
  margin-top: 1.5rem
  text-align: right
  background-color: $bacground-message
  color: $text-color-message

  &-user
    text-transform: uppercase
    font-size: 0.8rem
    font-weight: bold
    font-size: 1.2rem

  &-content
    font-size: 1.2rem

  &--own
    background-color: $bg-own-message
    text-align: left
    color: $text-color-own-message
